.footer {
    color: #fff;
    background: #222;
    padding: 3em;
    text-align: center;
}

.social_list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: #ffbb33;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right span {
    color: #ffbb33;
    font-weight: bold;
}